version: '3.8'

services:
  mayoristavp-app-prod:
    image: node-point-sell-prod:latest
    working_dir: /app
    volumes:
      - /etc/letsencrypt/live/nekoadmin.com.ar-0001/fullchain.pem:/etc/letsencrypt/live/nekoadmin.com.ar-0001/fullchain.pem:ro
      - /etc/letsencrypt/live/nekoadmin.com.ar-0001/privkey.pem:/etc/letsencrypt/live/nekoadmin.com.ar-0001/privkey.pem:ro
      - ./public:/app/public
      - ./views:/app/views
      - ./src:/app/src
      - ./tsconfig.json:/app/tsconfig.json
    ports:
      - '3016:3016'
    env_file:
      - .env
